name: Deploy to AWS ECS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region ap-south-1 | \
          docker login --username AWS --password-stdin ${{ secrets.ACCOUNT_ID }}.dkr.ecr.ap-south-1.amazonaws.com

      - name: Build Backend Image
        run: |
          docker build -t devops-backend .
          docker tag devops-backend:latest ${{ secrets.ACCOUNT_ID }}.dkr.ecr.ap-south-1.amazonaws.com/devops-backend:latest
          docker push ${{ secrets.ACCOUNT_ID }}.dkr.ecr.ap-south-1.amazonaws.com/devops-backend:latest

      - name: Update ECS Service
        run: |
          aws ecs update-service \
            --cluster devops-cluster \
            --service devops-service \
            --force-new-deployment
